@charset "UTF-8";

* {margin:0;padding:0;vertical-align:middle;border:0;position:relative;}
html, body {width:100%;height:100%;}
html {overflow-y:scroll;} /* 스크롤바 너비 17px/전체1920px-17px = 1903px=기본적인스크롤바제외전체화면너비 / root에만 만듦 */
html.addScroll {overflow:hidden;} /* 모달창에서는 스크롤 없이 설정하려고 */
body {font:normal 16px/1 "Roboto","sans-serif";color:#444;background:#fff;}
                         /*  1차글꼴   ,    2차글꼴  */
header, main, footer, section, aside, nav, aside {display: block;}
i, em, address {font-style:normal;} /* |가 반듯하게 되게 함*/ 

/* 크로스 브라우징 할때 필요함 : 
input {-webkit-box-shadow:none;box-shadow:none;-webkit-border-radius:0;border-radius:0;-webkit-appearance:none;appearance:none;}  */
input[type="text"] {box-shadow:none;border-radius:0;appearance:none;padding:15px;height:50px;width:100%;box-sizing:border-box;border:1px solid #ddd;background:#fff;}
input[type="email"] {box-shadow:none;border-radius:0;appearance:none;padding:15px;height:50px;width:100%;box-sizing:border-box;border:1px solid #ddd;background:#fff;}
input[type="submit"] {cursor:pointer;padding:15px 25px;appearance:none;display:inline-block;}

textarea {box-shadow:none;border-radius:0;appearance:none;padding:15px;width:100%;border:1px solid #ddd;box-sizing:border-box;background:#fff;}
select {padding:15px;width:100%;color:#aaa;border:1px solid #ddd;box-sizing:border-box;height:50px;background:#fff;appearance:none;}

ul, li {list-style: none;}
a {color: #222; text-decoration:none;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;font-size:16px;}
img {vertical-align:middle;}
/* floating hack */
.clearfix:after {content: "";display:block;clear:both;}
.hide {display:none;}
.blind {display:block;text-indent:-2000px;overflow:hidden;}

/* skip */
#skip {z-index:2;position:absolute;top:0;left:0;width:100%;}
#skip > li {width:100%;}
#skip > li > a {display:block;line-height:0;font-size:0;text-align:center;color:#fff;background:#000;border-bottom:2px solid #fff;}
#skip > li > a:focus {line-height:170%;font-size:15px;font-weight:600;}

/* wrap */
#wrap {z-index:1;position:relative;width:100%;overflow:hidden;}