@charset "UTF-8";

@media all and (max-width:1230px){
    #main #section01 .slide-container .slide-view .slide-wrap > li > div .content-wrap {width:90%;margin:0 auto;}
    #main #section01 .slide-container .slide-view .slide-wrap > li > div .content-wrap .content-gap .image-wrap {width:40%;position:relative;right:5%;}
    #main #section01 .slide-container .slide-view .slide-wrap > li > div .content-wrap .content-gap .text-wrap {width:40%;position:relative;left:15%;margin-top:16.8%;}
}

/* 990px 이하 해상도 모두 가능 */
@media all and (max-width:1199px) {
    #main #section01 #header .gap {padding:0;transition:padding .3s;}
    #main #section01 .slide-container .slide-view .slide-wrap > li > div .content-wrap {width:100%;}
    #main #section01 .slide-container .slide-view .slide-wrap > li > div .content-wrap .content-gap .image-wrap {width:40%;}
    #main #section01 .slide-container .slide-view .slide-wrap > li > div .content-wrap .content-gap .text-wrap {width:50%;margin-right:10%;}
}

@media all and (max-width:992px){
    .quick {display:none;}
    #main #section02 {box-sizing:border-box;padding:60px 120.5px;}
    #main #section02 .wrap .gap .content > ul > li {width:50%;margin:15px 0 15px 0;}

@media all and (max-width:767px){
    #main #section01 #header .gap .content .logo {width:33.3333333%;}
    #main #section01 #header .gap .content .logo .logo-gap {padding:0;padding-left:15px;}
    #main #section01 #header .gap .content .menu {width:33.3333333%;}
    #main #section01 #header .gap .content .simple-menu {width:33.3333333%;}
    #main #section01 #header .gap .content .simple-menu .simple-gap {padding:0;padding-right:15px;}
    
    .modal .container .gap .text-wrap {padding:20px 0 5px 0;}
    .modal .container .gap .text-wrap .content-wrap {float:none;margin:0;width:100%;text-align:center;}
    .modal .container .gap .text-wrap .input-wrap {float:none;margin:0;width:100%;text-align:center;}
    .modal .container .gap .text-wrap .input-wrap .email-wrap > input {display:block;}
    .modal .container .gap .text-wrap .input-wrap .check-wrap > div > label {font-size:12px;letter-spacing:1px;font-weight:400;}

    #main #section02 {padding:50px 0;}
    #main #section02 .wrap .gap .content > ul > li {float:none;width:100%;margin:0 0 30px 0;}
    #main #section02 .wrap .gap .content > ul > li:last-child {float:none;width:100%;margin:0;}
}

@media all and (max-width:680px){
    .modal .container {width:95%;margin:0 auto;}
}

@media all and (max-width:500px){
    .modal .container {width:90%;margin:0 auto;}
}

@media all and (max-width:1200px) and (orientation:landscape) {
}

@media all and (max-width:1200px) and (orientation:portrait) {
}