@charset "UTF-8";

#header {z-index:3;position:relative;width:100%;background:#29221f;border-bottom:1px solid rgba(255,255,255,.2);}
#header .gap {padding:0 35px;transition:padding .3s;} /* padding 0 1.839201% */
/* .logo .center .icons */
#header .gap .content {width:100%;}
#header .gap .content .logo {float:left;width:16.666121%;}
#header .gap .content .logo .logo-gap {padding:0 15px;}/* 0 4.9180328% */
#header .gap .content .logo .logo-gap .logo-wrap {width:100%;}/* padding:23.06px 0; */
#header .gap .content .logo .logo-gap .logo-wrap > h2 {width:100%;}
#header .gap .content .logo .logo-gap .logo-wrap > h2 > a {display:inline-block;width:106px;margin:23.055px 0;line-height:100%;}
#header .gap .content .logo .logo-gap .logo-wrap > h2 > a > img {width:100%;}

#header .gap .content .menu {float:left;width:66.667758%}
#header .gap .content .menu .menu-wrap {width:100%;}
#header .gap .content .menu .menu-wrap .nav {width:100%;height:100%;text-align:center;}
#header .gap .content .menu .menu-wrap .nav > ul {display:inline-block;}
#header .gap .content .menu .menu-wrap .nav > ul > li {float:left;}
#header .gap .content .menu .menu-wrap .nav > ul > li > a {display:inline-block;padding:27px 18px;}
#header .gap .content .menu .menu-wrap .nav > ul > li > a > span {display:inline-block;font-size:16.2px;letter-spacing:1px;font-weight:500;padding-bottom:2px;color:#fff;transition:all .6s;}
#header .gap .content .menu .menu-wrap .nav > ul > li > a > span:hover {color:rgba(255, 255, 255, .6);border-bottom:1px solid rgba(255, 255, 255, .6);}
#header .gap .content .menu .menu-wrap .nav > ul > li > a > span:focus {color:rgba(255, 255, 255, .6);border-bottom:1px solid rgba(255, 255, 255, .6);}
#header .gap .content .menu .menu-wrap .nav > ul > li:nth-child(1) > a {padding:27px 18px 27px 0;}
#header .gap .content .menu .menu-wrap .nav > ul > li:nth-child(7) > a {padding:27px 0 27px 18px;}

#header .gap .content .menu .menu-wrap .nav > ul > li .aside {position:absolute;top:70px;left:0;width:100%;background:#1c1c1c;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside0 {position:absolute;top:70px;left:0;width:100%;background:#1c1c1c;display:none;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside1 {position:absolute;top:70px;left:0;width:100%;background:#1c1c1c;display:none;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 {position:absolute;top:70px;left:0;width:100%;background:#1c1c1c;display:none;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside3 {position:absolute;top:70px;left:0;width:100%;background:#1c1c1c;display:none;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside4 {position:absolute;top:70px;left:0;width:100%;background:#1c1c1c;display:none;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside5 {position:absolute;top:70px;left:0;width:100%;background:#1c1c1c;display:none;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside6 {position:absolute;top:70px;left:0;width:100%;background:#1c1c1c;display:none;}

#header .gap .content .menu .menu-wrap .nav > ul > li .aside > ul {width:100%;max-width:1170px;margin:0 auto;padding:40px 0;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside > ul > li {float:left;width:25%;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside > ul > li > div {padding:0 15px;margin-bottom:40px;} /* 여백 */

#header .gap .content .menu .menu-wrap .nav > ul > li .aside0 > ul > li > div > a {display:block;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside0 > ul > li > div > a > strong {display:block;width:100%;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside0 > ul > li > div > a > strong > img {display:block;transform:scale(1);opacity:1;transition:all .3s;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside0 > ul > li > div > a > strong:hover > img {transform:scale(0.93);opacity:.5;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside0 > ul > li > div > a > strong:focus > img {transform:scale(0.93);opacity:.5;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside0 > ul > li > div > a > em {display:block;padding:20px 0 10px 0;color:#fff;font-size:14px;letter-spacing:1px;font-weight:500;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside0 > ul > div {width:100%;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside0 > ul > div > span {display:inline-block;margin:0 auto;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside0 > ul > div > span > a {display:block;padding:3px 15px;font-size:11px;letter-spacing:.7px;width:100%;line-height:18px;color:#8d8d8d;border:1px solid #8d8d8d;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside0 > ul > li > div > ul {width:100%;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside0 > ul > li > div > ul > h3 {width:100%;}

#header .gap .content .menu .menu-wrap .nav > ul > li .aside1 > ul > li {float:left;width:25%;border-right:1px solid rgba(255,255,255,.1);box-sizing:border-box;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside1 > ul > li:last-child {border-right:1px solid transparent}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside1 > ul > li > div {padding:0 30px;margin-bottom:40px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside1 > ul > li > div > h2 {width:100%;letter-spacing:.5px;margin-bottom:10px;font-size:15px;color:#fff;font-weight:600;text-align:left;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside1 > ul > li > div > a {display:block;margin-bottom:5px;text-align:left;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside1 > ul > li > div > a > em {font-size:14px;line-height:23px;color:#8d8d8d;letter-spacing:.6px;font-weight:600;transition:all .3s;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside1 > ul > li > div > a:hover > em {color:#fff;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside1 > ul > li > div > a:focus > em {color:#fff;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside1 .shop-banner {width:1170px;margin:0 auto;padding-bottom:40px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside1 .shop-banner .banner-img {float:left;margin:0 15px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside1 .shop-banner .banner-img > a {display:block;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside1 .shop-banner .banner-img > a > img {display:block;background:transparent;transform:scale(1);opacity:1;transition:all .3s;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside1 .shop-banner .banner-img > a:hover > img {transform:scale(0.93);opacity:.5;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside1 .shop-banner .banner-img > a:focus > img {transform:scale(0.93);opacity:.5;}

#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li {float:left;width:25%;border-right:1px solid rgba(255,255,255,.1);box-sizing:border-box;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li:nth-child(2) {padding-bottom:10px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li:nth-child(3),
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li:last-child {border-right:1px solid transparent;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li > div {padding:0 30px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-title {margin:0}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-title > h2 {width:100%;letter-spacing:.5px;margin-bottom:10px;font-size:15px;color:#fff;font-weight:600;text-align:left;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content {margin:18px 0 0 0;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content > a {display:block;margin-bottom:5px;text-align:left;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content > a > strong {display:inline-block;margin-right:13px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content > a > strong > img {border-radius:50%;width:32px;transition:all .3s;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content > a:hover > strong > img {border-radius:100%;width:100%;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content > a:focus > strong > img {border-radius:100%;width:100%;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content > a > em {font-size:15px;line-height:23px;color:#8d8d8d;letter-spacing:.6px;font-weight:400;transition:all .3s;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content > a:hover > em {color:#fff;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content > a:focus > em {color:#fff;}

#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content2 {background:#292929;width:213px;padding:13px;margin:0 auto 17px auto;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content2 .img-wrap {float:left;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content2 .img-wrap > a {display:inline-block;margin-right:15px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content2 .img-wrap > a > img {width:42px;transition:all .3s;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content2 .img-wrap > a:hover > img {transform:scale(2);}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content2 .img-wrap > a:focus > img {transform:scale(2);}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content2 .txt-wrap {float:left;text-align:left;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content2 .txt-wrap > a {display:block;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content2 .txt-wrap > a > span {font-weight:700;color:#808080;letter-spacing:.5px;transition:all .3s;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content2 .txt-wrap > a:hover > span {color:#fff;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content2 .txt-wrap > a:focus > span {color:#fff;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content2 .txt-wrap > h3 {width:100%;margin:4px 0;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content2 .txt-wrap > h3 > i {font-size:8px;color:#fd9d38;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content2 .txt-wrap > h4 {display:block;color:#8d8d8d;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content2 .txt-wrap > h4 > del {margin:0 4px 0 2px;}

#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content3 {width:100%;display:block;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content3:nth-child(1) > h2 {padding:0 15px 0 30px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content3:nth-child(2) > h2 {padding:0 30px 0 15px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content3 > h2 > a {display:block;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content3 > h2 > a > img {width:100%;transition:all .3s;opacity:1;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content3 > h2 > a:hover > img {transform:scale(0.96);opacity:.5;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside2 > ul > li .sale-content3 > h2 > a:focus > img {transform:scale(0.96);opacity:.5;}

#header .gap .content .menu .menu-wrap .nav > ul > li .aside3 > ul > li {float:left;width:25%;border-right:1px solid rgba(255,255,255,.1);box-sizing:border-box;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside3 > ul > li:nth-child(2) {padding-bottom:84px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside3 > ul > li:nth-child(3) {padding-bottom:224px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside3 > ul > li:last-child {border-right:1px solid transparent}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside3 > ul > li > div {padding:0 30px;margin-bottom:40px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside3 > ul > li > div > h2 {width:100%;letter-spacing:.5px;margin-bottom:10px;font-size:15px;color:#fff;font-weight:600;text-align:left;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside3 > ul > li > div > a {display:block;margin-bottom:5px;text-align:left;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside3 > ul > li > div > a > em {font-size:14px;line-height:23px;color:#8d8d8d;letter-spacing:.6px;font-weight:600;transition:all .3s;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside3 > ul > li > div > a:hover > em {color:#fff;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside3 > ul > li > div > a:focus > em {color:#fff;}

#header .gap .content .menu .menu-wrap .nav > ul > li .aside3 > ul > li .sale-content3 > h2 > a {display:block;padding-top:20px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside3 > ul > li .sale-content3 > h2 > a > img {width:100%;transition:all .3s;opacity:1;transform:scale(1.11);}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside3 > ul > li .sale-content3 > h2 > a:hover > img {transform:scale(1.05);opacity:.5;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside3 > ul > li .sale-content3 > h2 > a:focus > img {transform:scale(1.05);opacity:.5;}

#header .gap .content .menu .menu-wrap .nav > ul > li .aside4 {position:absolute;/* display:inline-block; */top:70px;left:51%;padding:15px 0;width:180px;background:#1c1c1c;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside4 > ul {width:100%;margin:0;padding:0;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside4 > ul > div {padding:10px 25px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside4 > ul > div > li {position:relative;width:100%;text-align:left;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside4 > ul > div > li > a {display:block;width:100%;text-align:left;color:#8d8d8d;font-weight:600;font-size:13px;line-height:15px;letter-spacing:.6px;transition:all .3s;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside4 > ul > div > li:hover > a {color:#fff;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside4 > ul > div > li:focus > a {color:#fff;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside4 > ul > div > li > a > i {position:absolute;right:-10px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside4 > ul > div > li > ul {display:none;position:absolute;top:-20px;left:100%;margin-left:26px;padding:15px 0;width:180px;background:#1c1c1c;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside4 > ul > div > li > ul > div {padding:10px 25px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside4 > ul > div > li > ul > div > li {position:relative;width:100%;text-align:left;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside4 > ul > div > li > ul > div > li > a {width:100%;text-align:left;color:#8d8d8d;font-weight:600;font-size:13px;line-height:15px;letter-spacing:.6px;transition:all .3s;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside4 > ul > div > li > ul > div > li > a:hover {color:#fff;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside4 > ul > div > li > ul > div > li > a:focus {color:#fff;}

#header .gap .content .menu .menu-wrap .nav > ul > li .aside5 > ul > li {float:left;width:25%;border-right:1px solid rgba(255,255,255,.1);box-sizing:border-box;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside5 > ul > li:last-child {border-right:1px solid transparent}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside5 > ul > li > div {padding:0 30px;margin-bottom:40px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside5 > ul > li > div > h2 {width:100%;letter-spacing:.5px;margin-bottom:10px;font-size:15px;color:#fff;font-weight:600;text-align:left;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside5 > ul > li > div > a {display:block;margin-bottom:5px;text-align:left;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside5 > ul > li > div > a > i {font-size:13px;margin-right:11px;display:inline-block;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside5 > ul > li > div > a > em {font-size:14px;line-height:23px;color:#8d8d8d;letter-spacing:.6px;font-weight:600;transition:all .3s;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside5 > ul > li > div > a:hover > em {color:#fff;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside5 > ul > li > div > a:focus > em {color:#fff;}

#header .gap .content .menu .menu-wrap .nav > ul > li .aside6 > ul > li {float:left;width:25%;border-right:1px solid rgba(255,255,255,.1);box-sizing:border-box;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside6 > ul > li:nth-child(1) {padding-bottom:81px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside6 > ul > li:nth-child(2) {padding-bottom:109px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside6 > ul > li:last-child {border-right:1px solid transparent;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside6 > ul > li > div {padding:0 30px;margin-bottom:40px;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside6 > ul > li > div > h2 {width:100%;letter-spacing:.5px;margin-bottom:10px;font-size:15px;color:#fff;font-weight:600;text-align:left;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside6 > ul > li > div > a {display:block;margin-bottom:5px;text-align:left;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside6 > ul > li > div > a > em {font-size:14px;line-height:23px;color:#8d8d8d;letter-spacing:.6px;font-weight:600;transition:all .3s;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside6 > ul > li > div > a:hover > em {color:#fff;}
#header .gap .content .menu .menu-wrap .nav > ul > li .aside6 > ul > li > div > a:focus > em {color:#fff;}

#header .gap .content .menu .mobile {position:relative;right:0;width:100%;height:100%;}
#header .gap .content .menu .mobile > a {display:block;margin:0 0 0 auto;padding:28px 0;text-align:right;}
#header .gap .content .menu .mobile > a > span {display:inline-block;}
#header .gap .content .menu .mobile > a > span > i {display:block;width:100%;}
#header .gap .content .menu .mobile > a > span > i:nth-child(1) {margin-bottom:3px;width:16px;height:2px;background:#808080;transition:all .3s;}
#header .gap .content .menu .mobile > a > span > i:nth-child(2) {margin-bottom:3px;width:16px;height:2px;background:#808080;}
#header .gap .content .menu .mobile > a > span > i:nth-child(3) {width:16px;height:2px;background:#808080;transition:all .3s;}
#header .gap .content .menu .mobile.addClose > a > span > i:nth-child(1) {position:relative;top:2px;transform:rotate(45deg);}
#header .gap .content .menu .mobile.addClose > a > span > i:nth-child(2) {display:none}
#header .gap .content .menu .mobile.addClose > a > span > i:nth-child(3) {position:relative;bottom:3px;transform:rotate(-45deg);}

#header .gap .content .menu .mobile-menu {z-index:1;display:none;overflow:scroll;position:absolute;top:70px;left:0;width:100%;background:rgb(25, 25, 25);}
#header .gap .content .menu .mobile-menu > li {width:100%;border-bottom:1px solid rgba(255,255,255,0.06);}
#header .gap .content .menu .mobile-menu > li > div {position:relative;padding:14px 15px 15px 15px;}
#header .gap .content .menu .mobile-menu > li > div > a {display:inline-block;padding-bottom:2px;}
#header .gap .content .menu .mobile-menu > li > div > a > span {display:inline-block;font-size:15px;font-weight:500;color:#fff;letter-spacing: .9px;}
#header .gap .content .menu .mobile-menu > li > div > a > strong {display:inline-block;position:absolute;top:15px;right:15px;font-size:15px;font-weight:400;color:#fff;}
#header .gap .content .menu .mobile-menu > li > div > a > strong > i {display:inline-block;}
#header .gap .content .menu .mobile-menu > ul {display:none;overflow:scroll;z-index:2;position:absolute;top:46px;left:0;width:100%;background:#1c1c1c;}
#header .gap .content .menu .mobile-menu .mobile-shop {top:92px;height:276px;}
#header .gap .content .menu .mobile-menu .mobile-sale {top:138px;}
#header .gap .content .menu .mobile-menu .mobile-pages {top:184px;}
#header .gap .content .menu .mobile-menu .mobile-blog {top:228px;}
#header .gap .content .menu .mobile-menu .mobile-elements {top:280px;}
#header .gap .content .menu .mobile-menu .mobile-feautures {top:328px;}
#header .gap .content .menu .mobile-menu > ul > li {width:100%;border-bottom:1px solid rgba(255,255,255,0.06);}
#header .gap .content .menu .mobile-menu .mobile-sale > li {border-bottom:0;}
#header .gap .content .menu .mobile-menu > ul > li:last-child {border-bottom:1px solid transparent;}
#header .gap .content .menu .mobile-menu > ul .mobile-h {border-bottom:1px solid transparent;border-top:1px solid rgba(25,25,25,1);}
#header .gap .content .menu .mobile-menu > ul > li > div {padding:7px 15px 8px;}
#header .gap .content .menu .mobile-menu > ul > li > div > h2 {display:block;color:#fff;line-height:23px;font-size:14px;letter-spacing:.5px;font-weight:500;}
#header .gap .content .menu .mobile-menu > ul > li > div > a {display:block;color:#fff;line-height:23px;font-size:14px;letter-spacing:.5px;font-weight:500;}
#header .gap .content .menu .mobile-menu > ul > li > div a.mini-menu {display:block;color:#8d8d8d;line-height:23px;font-size:14px;letter-spacing:.5px;font-weight:500;}
#header .gap .content .menu .mobile-menu > ul > li > div.m-menu-bg a.mini-menu {background:#292929;}
#header .gap .content .menu .mobile-menu > ul > li > div > a > span {padding:3px 15px;line-height:18px;font-size:11px;font-weight:400;display:inline-block;letter-spacing:.8px;border:1px solid #8d8d8d;color:#8d8d8d;transition:all .6s;}
#header .gap .content .menu .mobile-menu > ul > li > div > a > span:hover {color:rgba(255, 255, 255);background:#6b6b6b;border-color:#6b6b6b;}
#header .gap .content .menu .mobile-menu > ul > li > div > a > span:focus {color:rgba(255, 255, 255);background:#6b6b6b;border-color:#6b6b6b;}
#header .gap .content .menu .mobile-menu > ul > li > div > a .m-img {border:0;display:inline-block;width:32px;height:32px;padding-left:0;}
#header .gap .content .menu .mobile-menu > ul > li > div > a .m-img > img {width:100%;border-radius:50%;}
#header .gap .content .menu .mobile-menu > ul > li > div > a .m-txt {border:0;display:inline-block;font-size:14px;font-weight:500;padding-left:0;}
#header .gap .content .menu .mobile-menu > ul > li > div > a .m-img2 {float:left;border:0;width:42px;height:53px;}
#header .gap .content .menu .mobile-menu > ul > li > div > a .m-img2 > img {width:100%;height:100%;border-radius:0;}
#header .gap .content .menu .mobile-menu > ul > li > div > a .m-txt-wrap {float:left;border:0;}
#header .gap .content .menu .mobile-menu > ul > li > div > a .m-txt-wrap .m-txt2 {border:0;display:inline-block;font-size:14px;font-weight:500;padding-left:0;}
#header .gap .content .menu .mobile-menu > ul > li > div > a .m-txt-wrap > h3 {width:100%;}
#header .gap .content .menu .mobile-menu > ul > li > div > a .m-txt-wrap > h3 > i {color:#fd9d38;font-size:10px;line-height:10px;}
#header .gap .content .menu .mobile-menu > ul > li > div > a .m-txt-wrap > h4 {width:100%;}
#header .gap .content .menu .mobile-menu > ul > li > div > a .m-txt-wrap > h4 > span {color:#8d8d8d;font-size:11px;line-height:22px;}
#header .gap .content .menu .mobile-menu > ul > li > div > a .m-icon {border:0;display:inline-block;width:13px;height:13px;padding-left:9px;}
#header .gap .content .menu .mobile-menu > ul > li > div > a .m-icon > i {width:100%;}


#header .gap .content .simple-menu {float:left;width:16.666121%;}
#header .gap .content .simple-menu .simple-gap {padding:0 15px;}/* 0 4.9180328% */
#header .gap .content .simple-menu .simple-gap .container {width:100%;text-align:right;}
#header .gap .content .simple-menu .simple-gap .container > ul {display:inline-block;}
#header .gap .content .simple-menu .simple-gap .container > ul > li {float:left;margin:26.93px 0;}
#header .gap .content .simple-menu .simple-gap .container > ul > li:nth-child(1) > div {margin-left:14px;}
#header .gap .content .simple-menu .simple-gap .container > ul > li:nth-child(2) > div {margin-left:14px;}
#header .gap .content .simple-menu .simple-gap .container > ul > li:nth-child(3) > div {margin-left:12px;}
#header .gap .content .simple-menu .simple-gap .container > ul > li:nth-child(4) > div {margin:0 12px 0 10px;}
#header .gap .content .simple-menu .simple-gap .container > ul > li > div > a {display:inline-block;position:relative;}
#header .gap .content .simple-menu .simple-gap .container > ul > li > div > a > i {font-size:13px;color:#fff;transition:all .3s;}
#header .gap .content .simple-menu .simple-gap .container > ul > li > div > a:hover > i {color:rgba(255, 255, 255, .6);}
#header .gap .content .simple-menu .simple-gap .container > ul > li > div > a:focus > i {color:rgba(255, 255, 255, .6);}
#header .gap .content .simple-menu .simple-gap .container > ul > li > div > a > div {padding-right:12px;}
#header .gap .content .simple-menu .simple-gap .container > ul > li > div > a > div > span {display:inline-block;width:16px;padding:3px 0;font-size:10px;text-align:center;color:#fff;font-weight:600;position:absolute;top:-8px;right:-10px;background:#232323;border-radius:50%;}

#main {z-index:2;position:relative;}
#main #section1 {width:100%;height:880px;}
#main #section1 .wrap {width:auto;}
#main #section1 .wrap {width:100%;height:880px;background:#29221f url(../img/01.png) no-repeat 50% 0;background-size:cover;}
#main #section2 {}
#main #section3 {}
#main #section4 {}
#main #section5 {}
#main #section6 {}
#main #section7 {}
#main #section8 {}
#main #section9 {}

#footer {z-index:1;position:relative;}  

.modal {z-index:4;position:absolute;top:0;left:0;width:100%;display:none;padding:242px 0;}
.modal:after {z-index:3;content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:#232323;opacity:.8;}
.modal .container {z-index:4;position:relative;width:100%;max-width:663px;margin:0 auto;}
.modal .container .gap {z-index:1;position:relative;padding:15px;background:#fff;}
.modal .container .gap .img-wrap {z-index:1;position:relative;width:100%;height:100%;}
.modal .container .gap .img-wrap > h2 {width:100%;}
.modal .container .gap .img-wrap > h2 > img {width:100%;height:100%;}
.modal .container .gap .text-wrap {padding:30px 0 15px 0;background:#fff;}
.modal .container .gap .text-wrap .content-wrap {float:left;height:100%;margin:0 15px 0 40px;}
.modal .container .gap .text-wrap .content-wrap > h2 {margin-bottom:5px;font-size:22px;letter-spacing:.3px;line-height:24px;color:#232323;font-weight:500;}
.modal .container .gap .text-wrap .input-wrap  {float:right;margin:0 45px 0 15px;position:relative;}
.modal .container .gap .text-wrap .input-wrap .email-wrap {display:block;border:1px solid #d7d7d7;padding:0 50px 0 15px;overflow:hidden;}
.modal .container .gap .text-wrap .input-wrap .email-wrap > input {display:inline-block;padding:7.5px 0;}
.modal .container .gap .text-wrap .input-wrap .email-wrap > input:focus {outline:0;}
.modal .container .gap .text-wrap .input-wrap .email-wrap > input::placeholder {color:#aaa;font-size:8px;font-weight:500;}
.modal .container .gap .text-wrap .input-wrap > span {display:inline-block;position:absolute;top:0;right:0;padding:9px 12px;border-left:1px solid #d7d7d7;text-align:center;}
.modal .container .gap .text-wrap .input-wrap > span > i {width:100%;}
.modal .container .gap .text-wrap .input-wrap .check-wrap {padding:10px 0 12px 0;}
.modal .container .gap .text-wrap .input-wrap .check-wrap > div {width:100%;}  
.modal .container .gap .text-wrap .input-wrap .check-wrap > div > input {margin-right:10px;}
.modal .container .gap .text-wrap .input-wrap .check-wrap > div > label {font-size:12px;letter-spacing:.3px;font-weight:600;}
.modal .container .gap .close {z-index:2;position:absolute;top:-2px;right:0;}
.modal .container .gap .close .close-wrap {width:100%;}
.modal .container .gap .close .close-wrap > span {display:block;}
.modal .container .gap .close .close-wrap > span > a {display:block;font-size:23px;background:transparent;}
.modal .container .gap .close .close-wrap > span > a > i {display:block;color:#fff;}